<div class="create-update-brand">
  <div class="header">
    <div *ngIf="data.isCreate">Thêm mới</div>
    <div *ngIf="!data.isCreate">Đặt hàng</div>
  </div>
  <div class="body">
    <div class="row">
      <div class="col-md-6">
        <label class="input-label">Họ tên người nhận <span>*</span></label>
        <input type="text" [(ngModel)]="formCreateUpdate.fullName" class="form-control">
        <small class="error-validate" *ngIf="errFullName">
          {{errFullName}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Số điện thoại người nhận <span>*</span></label>
        <input type="text" [(ngModel)]="formCreateUpdate.phoneNumber"
               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control">
        <small class="error-validate" *ngIf="errSDT">
          {{errSDT}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Tỉnh <span>*</span></label>
        <ng-select
          [items]='lstProvince'
          bindLabel="ProvinceName"
          bindValue="ProvinceID"
          placeholder="Lựa chọn..."
          [clearable]="true"
          [(ngModel)]="formCreateUpdate.provinceId"
          (ngModelChange)="changeProvince()"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.ProvinceName" >{{item.ProvinceName}}</div>
          </ng-template>
        </ng-select>
        <small class="error-validate" *ngIf="errProvince">
          {{errProvince}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Quận huyện <span>*</span></label>
        <ng-select
          [items]='lstDistict'
          bindLabel="DistrictName"
          bindValue="DistrictID"
          placeholder="Lựa chọn..."
          [clearable]="true"
          [(ngModel)]="formCreateUpdate.districtId"
          (ngModelChange)="changeDistict()"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.DistrictName" >{{item.DistrictName}}</div>
          </ng-template>
        </ng-select>
        <small class="error-validate" *ngIf="errDistict">
          {{errDistict}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Xã, phường <span>*</span></label>
        <ng-select
          [items]='lstWard'
          bindLabel="WardName"
          bindValue="WardCode"
          placeholder="Lựa chọn..."
          [clearable]="true"
          [(ngModel)]="formCreateUpdate.ward"
          (ngModelChange)="changeWard()"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.WardName" >{{item.WardName}}</div>
          </ng-template>
        </ng-select>
        <small class="error-validate" *ngIf="errWard">
          {{errWard}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Đơn vị vận chuyển <span>*</span></label>
        <ng-select
          [items]='lstShip'
          bindLabel="short_name"
          bindValue="service_id"
          placeholder="Lựa chọn..."
          [clearable]="true"
          [(ngModel)]="formCreateUpdate.shippingUnit"
          (ngModelChange)="changeShipping()"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.short_name" >{{item.short_name}}</div>
          </ng-template>
        </ng-select>
        <small class="error-validate" *ngIf="errShipping">
          {{errShipping}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Phương thức thanh toán</label>
        <ng-select
          [items]='lstPayMent'
          bindLabel="name"
          bindValue="id"
          placeholder="Lựa chọn..."
          [clearable]="false"
          [(ngModel)]="formCreateUpdate.paymentMethod"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.name" >{{item.name}}</div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-6">
        <label class="input-label">Giảm giá</label>
        <ng-select
          [items]='lstSaleBill'
          bindLabel="name"
          bindValue="id"
          placeholder="Lựa chọn..."
          [(ngModel)]="formCreateUpdate.saleId"
          (ngModelChange)="changeSale()"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.name" >{{item.nameTranform}}</div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-md-6">
        <label class="input-label">Ghi chú</label>
        <input type="text" [(ngModel)]="formCreateUpdate.note" class="form-control">
      </div>
      <div class="col-md-6">
        <label class="input-label">Phí vận chuyển (VND)</label>
        <input type="text" [(ngModel)]="this.fee" readonly class="form-control">
      </div>
      <div class="col-md-6">
        <label class="input-label">Giá trị đơn hàng (VND)</label>
        <input type="text" [(ngModel)]="this.priceOfOrder" readonly class="form-control">
      </div>
      <div class="col-md-12">
        <label class="input-label">Tổng giá trị đơn hàng (VND)</label>
        <input type="text" [(ngModel)]="this.totalPay" readonly class="form-control">
      </div>
    </div>

  </div>
  <div class="footer">
    <button class="btn-cancel" (click)="dialog.closeAll()">Hủy bỏ</button>
    <button class="submit" (click)="create()">
      <span>Đặt hàng</span>
    </button>
  </div>
</div>
