<div class="all-doash-board">
  <div class="header-doashboard">
    <div class="year-select">
      <label>Năm thống kê</label>
      <ng-select
        [items]='lstYear'
        placeholder="Lựa chọn..."
        [(ngModel)]="year"
        (ngModelChange)="changeYear()"
        style="width: 200px"
      >
        <ng-template let-item="item" ng-option-tmp>
          <div>{{item}}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="body-doash">
    <canvas
      baseChart
      [data]="barChartData1"
      [options]="barChartOptions1"
      [plugins]="barChartPlugins1"
      [legend]="barChartLegend1"
      [type]="'bar'"
      style="width: 80%"
    >
    </canvas>

  </div>
  <div class="title-compo">Biểu đồ thống kê doanh thu năm {{year}}</div>


</div>
