/* Add custom styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-right: 10px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.cell-value-tbl{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
th {
  background-color: #f2f2f2;
}

::ng-deep{
  .mat-column-categoriCode{
    width: 300px !important;
    button{
      background-color: unset !important;
      border: unset !important;
      .mat-icon{
        color: black !important;
      }
    }
  }
  .mat-column-categoriName{
    max-width: 250px !important;
  }
  .mat-column-description{
    min-width: 200px !important;
    max-width: 250px !important;
  }
  .mat-column-action{
    overflow: visible !important;
  }

  .active-status {
    color: green !important;
    font-weight: 600;
  }

  .inactive-status {
    color: red !important;
    font-weight: 600;
  }
  .mat-mdc-table .mdc-data-table__row{
    background: #fcfcfc !important;
  }
  .mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-categoriCode.mat-column-categoriCode{
    color:black;
  }
  .mat-mdc-cell.mdc-data-table__cell.cdk-cell{
    color: black  !important;
  }
}
.role-action{
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-content: center;
  flex-wrap: wrap;
  .action{
    .action-create{
      button{
        width: 100px;
        height: 30px;
        border-radius: 6px;
        outline-color: unset;
        background-color: blue;
        color: white;
        font-weight: 500;
        border: none;
        margin-right: 10px;
      }
    }
  }
  .title-screen{
    color: gray;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
  }
}
.role-management{
  margin-left:15px;
}
.btn-search, .btn-search:hover{
  background-color: #3643BA;
  align-content: flex-end;
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.form-search{
  align-content: space-between;
  margin: 0 0 10px 0 !important;
  .atributeSearch{
    padding: 0px !important;
    .row2{
      margin: 0 !important;
      .searchStatus{
        padding-left:0px !important;
      }
    }
  }
}





.action-shool:hover i {
  color: #f26522;
}
.action-shool:hover {
  z-index: 10 !important;
}
.title-action {
  cursor: pointer;
}
.action{
  left: -110px;
}
.btn-action-sc {
  width: 95px;
  height: 25px;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
  }

  border-radius: 2px;
}

.edit {
  background: #f3f6ff;
  margin-bottom: 5px;
}

.delete {
  background: #fdf4f4;
}

ul {
  display: none;
  margin-left: 0;
  z-index: 99999999;
  position: absolute;
  left: -111px;
  top: -34px;
  width: 110px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  list-style: none;
}
.ele-big-than-2 {
  top: -48px;
}

.action-shool {
  position: relative;
  margin-top: 10px !important;
}
.action-shool:hover ul {
  display: block;
}
.action-school {
  position: relative;
}
.action-change {
  position: relative;
  margin-bottom: 10px !important;
}
.action-school:hover .action-change ul {
  display: block;
}
// .action-shool:hover {
//   z-index: 1000000 !important;
//   position: relative;
// }
.addnew-unit-md {
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.06);
  border-radius: 16px !important;
}
.row {
  margin: 0px 15px;
}
.witget-title {
  border-radius: 8px 8px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 52px;
  text-transform: uppercase;
  color: #101840;
  height: 52px;
  padding-left: 20px;
}
.menu-action-dv {
  border-bottom: 1px solid #e6e8f0;
  box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
  font-weight: bold;
  color: #101840;
  display: flex;
  height: 52px;
}
.list-action-dv {
  display: flex;
  margin-left: auto;
}
.btn-action-dv {
  display: flex;
  align-items: center;
  width: 98px;
  height: 32px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-left: 15px;
  svg {
    margin-right: 10px;
  }
}
.btn-action-dv.blue {
  background: #3366ff;
}
.btn-action-dv.gray {
  background: #696f8c;
}
.menu-action-dv h3 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #101840;
  padding-top: 14px;
}
.search-dv label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #474d66;
}
.search-dv input {
  background: #ffffff;
  border: 1px solid #d8dae5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
}
.search-dv button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  height: 40px;
  background: #f26522;
  border-radius: 4px;
  color: #fff;
  border: none;
  justify-content: center;
  font-weight: 600;
}
.search-dv {
  margin-top: 20px !important;
  align-items: flex-end;
}
.search-dv > div {
  display: flex;
  flex-direction: column;
}
.search-dv input {
  width: 100%;
  padding-left: 10px;
}
.ag-row-odd {
  background: #f9fafc;
}
.ft-table-school {
  display: flex;
  justify-content: space-between;
}
.ft-table-school ul {
  display: flex;
  list-style: none;
}
.list-dv-sc {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
.list-dv-sc li {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #474d66;
  text-transform: uppercase;
  border-top: 1px solid #f4f6fa;
  padding: 15px 20px;
}
.col-iner {
  border: 1px solid #e6e8f0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
  border-radius: 10px;
}
.addnew-unit-md {
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.06);
  border-radius: 16px !important;
  margin-top: 100px;
}
.modal-container {
  margin: auto;
  width: 464px;
  max-width: 90vh;
}
.modal-dialog-custom label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #474d66;
}
.modal-dialog-custom .row input {
  background: #ffffff;
  border: 1px solid #d8dae5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
}
.modal-dialog-custom .row > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  textarea {
    height: 76px;
    min-height: 40px;
    background: #ffffff;
    border: 1px solid #d8dae5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
  }
}
label span {
  color: red;
}
.modal-dialog-custom .row {
  margin: 0px;
}
.btn-md {
  width: 105px;
  height: 32px;
  left: 726px;
  top: 774px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border: none;
}
.btn-gray {
  background: #e6e8f0;
  margin-right: 10px;
  color: #696f8c;
}
.btn-or {
  background: #3643BA;
}
.btn-md:focus {
  border: 1px solid #007eff;
}
.modal-footer {
  border-top:1px solid #ebedf3 ;
}
.modal-footer .btn-action {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal-title {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600 !important;
  width: 100%;
}
.des {
  text-align: center;
  color: #8f95b2;
  height: 100px;
  align-items: center;
}

.modal-dialog-custom .title-list-file {
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  p {
    font-weight: 600;
    font-size: 14px;
    color: #474d66;
    margin-bottom: 0px;
  }
  a {
    font-weight: 600;
    font-size: 12px;
    color: #3366ff;
    margin-left: 5px;
  }
  div {
    display: flex;
    align-items: center;
  }
}
angular-file-uploader,
#div1 {
  width: 100%;
}
.list-file-result {
  width: 100%;
  justify-content: space-between !important;
  flex-direction: row !important;
  margin-top: 15px;
  margin-bottom: 0px !important;
  p {
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #101840;
    i {
      color: #52bd94;
      font-style: normal;
      font-size: 12px;
      margin: 0px 3px;
    }
  }
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #3366ff;
    cursor: pointer;
  }
}
.import-er {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #101840;
  margin-top: 5px;
  i {
    color: red;
    font-style: normal;
    font-size: 12px;
    margin: 0px 3px;
    font-size: 12px;
  }
}
.modal-footer .type-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
::ng-deep {
  .ag-header-container {
    z-index: 1 !important;
  }
}
.header-categories{
  color: #8F95B2;
  background: #F4F6FA !important;

}
.modal-content{
  border-bottom: 1px solid #EBEDF3;
  border-top: 1px solid #EBEDF3;
  .modal-header{
    padding: 10px 0;
    border-bottom:1px solid #ebedf3 ;
    flex-direction: column;
    h4{
      color: #101840;
      font-size: 16px;
      text-align: center;
      margin-bottom: 0px;
    }
  }
  .modal-body{
    padding: 10px;
    text-align: center;
    font-weight: 500;
    .des{
      color: #101840;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

