<div class="myCart">
  <div class="headerCart">
<!--    <div class="all-item">-->
<!--      <span class="example-list-section">-->
<!--        -->
<!--      </span>-->
<!--    </div>-->
    <div class="pay-item"  (click)="changeTab(0)" [ngStyle]="{'color':tabSlected===0?'blue':'unset'}">
      <i class="fa-solid fa-cart-shopping"  style="font-size: 50px;"></i>Trong giỏ
    </div>
    <div class="pay-item" (click)="changeTab(1)" [ngStyle]="{'color':tabSlected===1?'blue':'unset'}">
      <i class="fa-brands fa-amazon-pay" style="font-size: 50px;"></i> Đang giao
    </div>
    <div class="buy-complete"  (click)="changeTab(2)" [ngStyle]="{'color':tabSlected===2?'blue':'unset'}">
      <i class="fa-regular fa-calendar-check" style="font-size: 50px;"></i> Hoàn thành
    </div>
  </div>
  <div *ngIf="tabSlected===0">
    <table class="table-order" >
      <tr class="row">
        <th class="col-md-1">
          <mat-checkbox class="example-margin"
                        [checked]="allComplete"
                        [color]="task.color"
                        [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
            <span class="header"></span>
          </mat-checkbox>
        </th>
        <th  class="col-md-2">Ảnh</th>
        <th  class="col-md-2">Tên sản phẩm</th>
        <th class="col-md-2 col-price">Số lượng đặt</th>
        <th class="col-md-1 col-price">Đơn giá</th>
        <th class="col-md-1 center-align">Size</th>
        <th class="col-md-1 center-align">Type</th>
        <th class="col-md-2">Số lượng còn lại</th>
      </tr>
      <tr  class="row" *ngFor="let cart of rowData; let index = index">
        <td class="col-md-1">
          <mat-checkbox [(ngModel)]="cart.slected"
                        (ngModelChange)="updateAllComplete()">
          </mat-checkbox>
        </td>
        <td class="col-md-2"><img class="productAvatar" [src] ="domainFile+cart.fileName"></td>
        <td class="col-md-2">{{cart.productName}}</td>
        <td class="col-md-2 col-price">
          <div class="numP1"><a (click)="decrease(cart)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M18 12.75H6C5.59 12.75 5.25 12.41 5.25 12C5.25 11.59 5.59 11.25 6 11.25H18C18.41 11.25 18.75 11.59 18.75 12C18.75 12.41 18.41 12.75 18 12.75Z" fill="#292D32"/>
          </svg></a> {{cart.quantity}}
            <a (click)="increase(cart)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M18 12.75H6C5.59 12.75 5.25 12.41 5.25 12C5.25 11.59 5.59 11.25 6 11.25H18C18.41 11.25 18.75 11.59 18.75 12C18.75 12.41 18.41 12.75 18 12.75Z" fill="#292D32"/>
              <path d="M12 18.75C11.59 18.75 11.25 18.41 11.25 18V6C11.25 5.59 11.59 5.25 12 5.25C12.41 5.25 12.75 5.59 12.75 6V18C12.75 18.41 12.41 18.75 12 18.75Z" fill="#292D32"/>
            </svg></a>
          </div>
        </td>
        <td class="col-md-1 col-price">
          <div class="price" [ngClass]="cart.maxPurchase?'line-through':''">
            {{cart.price}}
          </div>
          <div class="price-discount" *ngIf="cart.maxPurchase">
            {{cart.price*(100-cart.maxPurchase)/100}}
          </div>
        </td>
        <td class="col-md-1 center-align">{{cart.sizeProductName}}</td>
        <td class="col-md-1 center-align">{{cart.typeProductName}}</td>
        <td class="col-md-2">{{cart.residualQuantity}}</td>
      </tr>
    </table>
    <div class="row footer-in-cart">
      <div class="col-md-5">Tổng số</div>
      <div class="col-md-2 col-price">{{sumProduct(1)}}</div>
      <div class="col-md-1 col-price">{{sumProduct(2)}}</div>
      <div class="col-md-4"><button (click)="createOrder()" class="btn btn-gray">Đặt hàng</button></div>
<!--      <div class="col-md-6">100000</div>-->
    </div>
  </div>

</div>
