<div class="myCart">
  <div class="headerCart">
<!--    <div class="all-item">-->
<!--      <span class="example-list-section">-->
<!--        -->
<!--      </span>-->
<!--    </div>-->
    <div class="pay-item"  (click)="changeTab(0)" [ngStyle]="{'color':tabSlected===0?'#3643BA':'#e6e8f0'}">
      <i class="fa-solid fa-cart-shopping"  style="font-size: 50px;"></i>
    </div>
    <svg  class="cart-header-item-line" fill="none" height="2" viewBox="0 0 169 2" width="169" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.25 1L167.25 1.00001" [ngStyle]="{'stroke':tabSlected===0||tabSlected===1?'#3643BA':'#e6e8f0'}"  stroke-linecap="round" stroke-width="2" class="ng-star-inserted"></path>
    </svg>
    <div class="pay-item" (click)="changeTab(1)" [ngStyle]="{'color':tabSlected===1?'#3643BA':'#e6e8f0'}">
      <i class="fa-brands fa-amazon-pay" style="font-size: 50px;"></i>
    </div>
    <svg _ngcontent-hpd-c20="" class="cart-header-item-line" fill="none" height="2" viewBox="0 0 169 2" width="169" xmlns="http://www.w3.org/2000/svg"><!---->
      <path _ngcontent-hpd-c20="" d="M1.25 1L167.25 1.00001" [ngStyle]="{'stroke':tabSlected===2||tabSlected===1?'#3643BA':'#e6e8f0'}"  stroke-linecap="round" stroke-width="2" class="ng-star-inserted"></path><!----></svg>
    <div class="pay-item" (click)="changeTab(2)" [ngStyle]="{'color':tabSlected===2?'#3643BA':'#e6e8f0'}">
      <i class="fa-brands fa-amazon-pay" style="font-size: 50px;"></i>
    </div>
    <svg _ngcontent-hpd-c20="" class="cart-header-item-line" fill="none" height="2" viewBox="0 0 169 2" width="169" xmlns="http://www.w3.org/2000/svg"><!---->
      <path _ngcontent-hpd-c20="" d="M1.25 1L167.25 1.00001" [ngStyle]="{'stroke':tabSlected===2||tabSlected===3?'#3643BA':'#e6e8f0'}"  stroke-linecap="round" stroke-width="2" class="ng-star-inserted"></path><!----></svg>
    <div class="buy-complete"  (click)="changeTab(3)" [ngStyle]="{'color':tabSlected===3?'#3643BA':'#e6e8f0'}">
      <i class="fa-regular fa-calendar-check" style="font-size: 50px;"></i>
    </div>
  </div>
  <div *ngIf="tabSlected===0">
    <table class="table-order" >
      <tr class="row  tb-header-bg">
        <th class="col-md-1 col-price">
          <mat-checkbox class="example-margin"
                        [checked]="allComplete"
                        [color]="task.color"
                        [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
            <span class="header"></span>
          </mat-checkbox>
        </th>
        <th  class="col-md-1 col-price">Ảnh</th>
        <th  class="col-md-2 col-price">Tên sản phẩm</th>
        <th class="col-md-2 col-price">Số lượng đặt</th>
        <th class="col-md-1 col-price">Đơn giá</th>
        <th class="col-md-1 center-align">Size</th>
        <th class="col-md-1 center-align">Type</th>
        <th class="col-md-2 col-price">Số lượng còn lại</th>
        <th class="col-md-1 col-price"></th>
      </tr>
      <tr class="row"  [ngClass]="index%2==0?'tb-body-0':'tb-header-bg'" *ngFor="let cart of rowData; let index = index">
        <td class="col-md-1 col-price">
          <mat-checkbox [(ngModel)]="cart.slected"
                        (ngModelChange)="updateAllComplete()">
          </mat-checkbox>
        </td>
        <td class="col-md-1 col-price"><img class="productAvatar" [src] ="domainFile+cart.fileName"></td>
        <td class="col-md-2 col-price">{{cart.productName}}</td>
        <td class="col-md-2 col-price">
          <div class="numP1"><a (click)="decrease(cart)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M18 12.75H6C5.59 12.75 5.25 12.41 5.25 12C5.25 11.59 5.59 11.25 6 11.25H18C18.41 11.25 18.75 11.59 18.75 12C18.75 12.41 18.41 12.75 18 12.75Z" fill="#292D32"/>
          </svg></a> {{cart.quantity}}
            <a (click)="increase(cart)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M18 12.75H6C5.59 12.75 5.25 12.41 5.25 12C5.25 11.59 5.59 11.25 6 11.25H18C18.41 11.25 18.75 11.59 18.75 12C18.75 12.41 18.41 12.75 18 12.75Z" fill="#292D32"/>
              <path d="M12 18.75C11.59 18.75 11.25 18.41 11.25 18V6C11.25 5.59 11.59 5.25 12 5.25C12.41 5.25 12.75 5.59 12.75 6V18C12.75 18.41 12.41 18.75 12 18.75Z" fill="#292D32"/>
            </svg></a>
          </div>
        </td>
        <td class="col-md-1 col-price">
          <div class="price" [ngClass]="cart.maxPurchase?'line-through':''">
            {{cart.price}}
          </div>
          <div class="price-discount" *ngIf="cart.maxPurchase">
            {{cart.price*(100-cart.maxPurchase)/100}}
          </div>
        </td>
        <td class="col-md-1 center-align">{{cart.sizeProductName}}</td>
        <td class="col-md-1 center-align">{{cart.typeProductName}}</td>
        <td class="col-md-2 col-price">{{cart.residualQuantity}}</td>
        <td class="col-md-1 col-price">
          <div class="icon" (click)="openmodalDeleteCart(template, cart.id)">
            <i class="fa-regular fa-trash-can" style="color: red; width: 10px;left: -1.5px;position: relative;"></i>
          </div>
        </td>
      </tr>
    </table>
    <div class="row footer-in-cart">
      <div class="col-md-5">Tổng số</div>
      <div class="col-md-2 col-price">{{sumProduct(1)}}</div>
      <div class="col-md-1 col-price">{{sumProduct(2)}}</div>
      <div class="col-md-4"><button (click)="createOrder()" class="btn btn_bsport">Đặt hàng</button></div>
<!--      <div class="col-md-6">100000</div>-->
    </div>
  </div>
<!--  <div *ngIf="tabSlected==2">-->
<!--    <ag-grid-angular-->
<!--      [columnDefs]="coloumDef"-->
<!--      [rowData]="rowDataShipingComplete"-->
<!--      style="width: 100%; height: 500px !important;"-->
<!--      class="ag-theme-alpine"-->
<!--      [tooltipShowDelay]="0"-->
<!--      (gridSizeChanged)="gridSizeChanged($event)"-->
<!--      [overlayNoRowsTemplate]="noRowsTemplate"-->
<!--    >-->

<!--    </ag-grid-angular>-->
<!--  </div>-->
  <div *ngIf="tabSlected===2 ||tabSlected===1|| tabSlected==3">
    <ag-grid-angular
      [columnDefs]="coloumDef"
      [rowData]="rowDataShipingComplete"
      style="width: 100%; height: 500px !important;"
      class="ag-theme-alpine"
      [tooltipShowDelay]="0"
      (gridSizeChanged)="gridSizeChanged($event)"
      [overlayNoRowsTemplate]="noRowsTemplate"
    >

    </ag-grid-angular>
  </div>
</div>
<ng-template #template style="width: 464px">

  <div class="modal-content">
    <div class="modal-header" style=" padding: 24px 23px 16px; flex-direction: column;">
      <h4 class="modal-title" style="text-align: center;">XÓA NHÃN HÀNG</h4>

    </div>
    <div class="modal-body" style="padding: 24px 10px 24px !important; border-bottom: 1px solid #EBEDF3;">
      <p class="des" style="text-align: center; color: #101840; font-weight: 500;">Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng</p>
    </div>
    <div class="modal-footer">

      <div class="btn-action">
        <button type="button" class="btn-md btn-gray" (click)="dialog.closeAll()">{{'LIBRARY_ORGANIZATION.CANCEL'|translate}}</button>
        <button type="button" class="btn-md btn-or" (click)="removeOutCart()">{{'LIBRARY_ORGANIZATION.OK'|translate}}</button>
      </div>
    </div>
  </div>
</ng-template>
