<div class="myCart">
  <div class="headerCart">
    <div class="all-item">
      <span class="example-list-section">
        <mat-checkbox class="example-margin"
                      [checked]="allComplete"
                      [color]="task.color"
                      [indeterminate]="someComplete()"
                      (change)="setAll($event.checked)">
          Tất cả
        </mat-checkbox>
      </span>
    </div>
    <div class="pay-item">
      <i class="fa-brands fa-amazon-pay" style="font-size: 50px;"></i> Thanh toán
    </div>
    <div class="buy-complete">
      <i class="fa-regular fa-calendar-check" style="font-size: 50px;"></i> Hoàn thành
    </div>
  </div>
  <table>
    <tr>
      <th>Chọn</th>
      <th>Ảnh</th>
      <th>Tên sản phẩm</th>
      <th>Số lượng đặt</th>
      <th>Size</th>
      <th>Type</th>
      <th>Số lượng còn lại</th>
    </tr>
    <tr *ngFor="let cart of rowData; let index = index">
      <th></th>
      <th><img [src] ="domainFile+cart.fileName"></th>
      <th>{{cart.productName}}</th>
      <th>{{cart.quantity}}</th>
      <th>{{cart.sizeProductName}}</th>
      <th>{{cart.typeProductName}}</th>
      <th>{{cart.residualQuantity}}</th>
    </tr>
  </table>

</div>
<section class="example-section">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</section>

<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [color]="task.color"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
<!--      @for (subtask of task.subtasks; track subtask) {-->
      <li *ngFor="let subtask of task.subtasks;">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
<!--      }-->
    </ul>
  </span>
</section>
