<div class="register">
  <form [formGroup]="formRegis">
    <div class="header-register">Đăng ký</div>
    <div class="body-register row">
      <div class="col-6 label-field">
        <label>Tên đăng nhập<small>*</small></label>
        <input placeholder="Tên đăng nhập" formControlName="username" (input)="validatorUserName()" type="text" class="form-control">
        <small class="error-validate" *ngIf="messErrUserName">
          {{messErrUserName}}
        </small>
      </div>
      <div class="col-6 label-field">
        <label>Họ và tên<small>*</small></label>
        <input placeholder="Họ và tên" formControlName="fullName" (input)="validatorFullName()" type="text" class="form-control">
        <small class="error-validate" *ngIf="messErrFullName">
          {{messErrFullName}}
        </small>
      </div>
      <div class="col-6 label-field">
        <label>Mật khẩu<small>*</small></label>
        <div id="password" class="input-group-append">
          <input  (blur)="validatorPassWord()" placeholder="Mật khẩu" formControlName="password" autocomplete="new-password" type="password" class="form-control w-100 input-sm custom-input-error" #password
                 (keydown.space)="$event.preventDefault();">
          <span class="input-group-text cursor-pointer  navi-hover text-hover-red custom-span-error"
                (click)="changeType(password, 1)">
                <i *ngIf="!toggle1" [ngClass]="{'fas fa-eye-slash': !toggle1}"></i>
                <i *ngIf="toggle1" [ngClass]="{'fas fa-eye':toggle1}"></i>
          </span>
        </div>
        <small class="error-validate" *ngIf="messErrPassword">
          {{messErrPassword}}
        </small>
      </div>
      <div class="col-6 label-field">
        <label>Nhập lại mật khẩu<small>*</small></label>
        <div id="password2" class="input-group-append">
          <input  (blur)="validatorRePass()" type="password" class="form-control w-100 input-sm custom-input-error"
                 id="rePass" #password2
                  formControlName="rePassword"
                 (keydown.space)="$event.preventDefault();"
                 autocomplete="new-password"
                 placeholder="Nhập lại mật khẩu"  >
          <span class="input-group-text cursor-pointer  navi-hover text-hover-red custom-span-error"
                (click)="changeType(password2, 2)">
                                <i *ngIf="!toggle2" [ngClass]="{'fas fa-eye-slash': !toggle2}"></i>
                                <i *ngIf="toggle2" [ngClass]="{'fas fa-eye':toggle2}"></i>
                          </span>
        </div>
        <small class="error-validate" *ngIf="messErrRePassword">
          {{messErrRePassword}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Số điện thoại <span>*</span></label>
        <input placeholder="Số điện thoại" type="text" formControlName="phoneNumber" (blur)="validateSDT()"
               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control">
        <small class="error-validate" *ngIf="messErrSDT">
          {{messErrSDT}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Tỉnh <span>*</span></label>
        <ng-select
          [items]='lstProvince'
          bindLabel="ProvinceName"
          bindValue="ProvinceID"
          placeholder="Lựa chọn..."
          [clearable]="true"
          formControlName="provinceId"
          (change)="changeProvince()"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.ProvinceName" >{{item.ProvinceName}}</div>
          </ng-template>
        </ng-select>
        <small class="error-validate" *ngIf="messErrProvince">
          {{messErrProvince}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Quận huyện <span>*</span></label>
        <ng-select
          [items]='lstDistict'
          bindLabel="DistrictName"
          bindValue="DistrictID"
          placeholder="Lựa chọn..."
          [clearable]="true"
          formControlName="districtId"
          (change)="changeDistict()"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.DistrictName" >{{item.DistrictName}}</div>
          </ng-template>
        </ng-select>
        <small class="error-validate" *ngIf="messErrDistict">
          {{messErrDistict}}
        </small>
      </div>
      <div class="col-md-6">
        <label class="input-label">Xã, phường <span>*</span></label>
        <ng-select
          [items]='lstWard'
          bindLabel="WardName"
          bindValue="WardCode"
          placeholder="Lựa chọn..."
          [clearable]="true"
          formControlName="ward"
          (change)="validateWard()"
        >
          <ng-template let-item="item" ng-option-tmp>
            <div [matTooltip]="item.WardName" >{{item.WardName}}</div>
          </ng-template>
        </ng-select>
        <small class="error-validate" *ngIf="messErrWard">
          {{messErrWard}}
        </small>
      </div>
      <div class="col-6 label-field">
        <label>Email<small>*</small></label>
        <input  placeholder="Email" formControlName="email" (blur)="validatorEmail()" type="text" class="form-control" >
        <small class="error-validate" *ngIf="messErrEmail">
          {{messErrEmail}}
        </small>
      </div>
      <div class="col-6 label-field">
        <label>Địa chỉ</label>
        <input placeholder="Địa chỉ" formControlName="address" type="text" class="form-control">
      </div>
      <div class="col-6 label-field">
        <label>Ảnh đại diện:</label>
        <input type='file' id="imageUpload" accept=".jpg, .png, .bmp, .tiff,.tif, .jpeg, .JPG, .PNG, .JPEG" #fileInput
               (change)="uploadFile($event)"/>
        <small class="error-validate" *ngIf="messErrFileAvatar">
          {{messErrFileAvatar}}
        </small>
      </div>
    </div>
    <div class="footer-register">
      <button class="btn-cancel btn btn-gray" (click)="close()">Hủy đăng ký</button>
      <button class="btn-submit btn" (click)="register()">Đăng ký</button>
    </div>
  </form>
</div>
