<div class="change-pass">
    <div class="modal-change-pass">

        <div class="header-change-pass">
            <h3>Đổi mật khẩu</h3>
        </div>
        <div class="body-change-pass">
            <div class="col-md-12 col-right">
                <label>Mật khẩu hiện tại<span class="require-start">*</span></label>
                <!--                        <input type="text" [(ngModel)]="passwordFirst" class="form-control">-->
                <div id="password0" class="input-group-append">
                    <input (blur)="validateCurerntPassWord()" placeholder="Mật khẩu" autocomplete="new-password" type="password" class="form-control w-100 input-sm custom-input-error" #password0
                           [(ngModel)]="currentPass"
                           (keydown.space)="$event.preventDefault();">
                    <span class="input-group-text cursor-pointer  navi-hover text-hover-red custom-span-error"
                          (click)="changeType(password0, 0)">
                                <i *ngIf="!toggle0" [ngClass]="{'fas fa-eye-slash': !toggle0}"></i>
                                <i *ngIf="toggle0" [ngClass]="{'fas fa-eye':toggle0}"></i>
                          </span>
                </div>
                <small class="error-validate" *ngIf="!errCurrentPassword.done">
                    <p *ngIf="errCurrentPassword.maxLength">Mật khẩu hiện tại không được lớn hơn 15 ký tự</p>
                    <p *ngIf="errCurrentPassword.empty">Mật khẩu hiện tại không được để trống</p>
                    <p *ngIf="errCurrentPassword.space">Mật khẩu hiện tại không được chứa khoảng trắng</p>
                    <p *ngIf="errCurrentPassword.regex">Mật khẩu hiện tại phải chứa ít nhất 1 ký tự hoa, thường, số và ký tự đặc biệt</p>
                    <p *ngIf="errCurrentPassword.UTF8">Mật khẩu hiện tại không được chứa ký tự tiếng việt có dấu</p>
                </small>
            </div>
            <div class="col-md-12 col-right">
                <label>Mật khẩu mới<span class="require-start">*</span></label>
                <!--                        <input type="text" [(ngModel)]="passwordFirst" class="form-control">-->
                <div id="password" class="input-group-append">
                    <input (blur)="validatePassWord()" placeholder="Mật khẩu" autocomplete="new-password" type="password" class="form-control w-100 input-sm custom-input-error" #password
                           [(ngModel)]="newPass"
                           (keydown.space)="$event.preventDefault();">
                    <span class="input-group-text cursor-pointer  navi-hover text-hover-red custom-span-error"
                          (click)="changeType(password, 1)">
                                <i *ngIf="!toggle1" [ngClass]="{'fas fa-eye-slash': !toggle1}"></i>
                                <i *ngIf="toggle1" [ngClass]="{'fas fa-eye':toggle1}"></i>
                          </span>
                </div>
                <small class="error-validate" *ngIf="!errPassword.done">
                    <p *ngIf="errPassword.maxLength">Mật khẩu mới không được lớn hơn 15 ký tự</p>
                    <p *ngIf="errPassword.empty">Mật khẩu mới không được để trống</p>
                    <p *ngIf="errPassword.space">Mật khẩu mới không được chứa khoảng trắng</p>
                    <p *ngIf="errPassword.regex">Mật khẩu mới phải chứa ít nhất 1 ký tự hoa, thường, số và ký tự đặc biệt</p>
                    <p *ngIf="errPassword.UTF8">Mật khẩu mới không được chứa ký tự tiếng việt có dấu</p>
                </small>
            </div>
            <div class="col-md-12  col-right" >
                <label>Nhập lại khẩu mới<span class="require-start">*</span></label>
                <!--                        <input type="text" [(ngModel)]="passwordFirst" class="form-control">-->
                <div id="password2" class="input-group-append">
                    <input (blur)="validateRepass()" type="password" class="form-control w-100 input-sm custom-input-error"
                           id="rePass" #password2
                           [(ngModel)]="rePass"
                           (keydown.space)="$event.preventDefault();"
                           autocomplete="new-password"
                           placeholder="Nhập lại mật khẩu"  >
                    <span class="input-group-text cursor-pointer  navi-hover text-hover-red custom-span-error"
                          (click)="changeType(password2, 2)">
                                <i *ngIf="!toggle2" [ngClass]="{'fas fa-eye-slash': !toggle2}"></i>
                                <i *ngIf="toggle2" [ngClass]="{'fas fa-eye':toggle2}"></i>
                          </span>
                </div>
                <small class="error-validate" *ngIf="errRePasswordStr">
                    <p *ngIf="errRePasswordStr">{{errRePasswordStr}}</p>
                </small>
            </div>
        </div>
        <div class="footer-change-pass">
            <button class="btn btn-cancel">Hủy bỏ</button>
            <button (click)="changePass()" class="btn btn_bsport btn-change">Đổi mật khẩu</button>
        </div>
    </div>

</div>
