.base-display-admin{
  display: flex;
  background-color: #3643BA;
  height: 100%;
  position: relative;
}
.content-right{
  padding: 20px 0 2px 25px;
  border-radius: 15px 0 0 15px;
  background-color: white;
  width: 100% !important;
  //display: grid;
  //height: 100%;
  //overflow-y: hidden;
}
.router-outlet{
  overflow: auto;
  height: calc(100% - 100px);
  overflow-x: hidden;
}
:host::ng-deep{
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px !important;
  }
  body{
    overflow: hidden !important;
  }
}

::ng-deep{
  .mat-mdc-tab-body-content{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  .form-control:focus{
    box-shadow: none!important;
  }

  .modal-content {
    border-radius: 16px;
    .modal-header {
      flex-direction: column;
      align-items: center;
      height: 50px !important;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #EBEDF3;
      h4{
        margin-bottom: 0px;
      }
    }
    .modal-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: #242f57;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    .des {
      font-size: 14px;
      line-height: 20px;
      color: #8f95b2;
      margin: 0;
    }
    .modal-footer {
      padding: 10px;
      justify-content: center;
      .modal-actions {
        display: flex;
        .sy-btn-action {
          min-width: 106px;
          margin: 0 6px;
        }
      }
      .btn-action{
        .btn-or{
          background: #3643BA;
        }
      }

    }
  }
}

//.menu-base-left{
//  flex: 0 0 auto;
//  overflow-y: hidden;
//}
