<div class="role-management">
  <div class="row role-action">
    <div class="title-screen">QUẢN LÝ ROLE NGƯỜI DÙNG</div>
    <hr>
  </div>
  <div class="row form-search">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5">
          <ng-select
            [items]='item'
            bindLabel="name"
            bindValue="code"
            placeholder="Lựa chọn..."
            [clearable]="true"
          >
            <ng-template let-item="item" ng-option-tmp>
              <div [matTooltip]="item.name" [style.color]="item.color">{{item.name}}</div>
            </ng-template>
          </ng-select>
        </div>
        <div class="col-md-5">
          <input type="text" placeholder="Nhập mã hoặc tên role" class="w-100 form-control">
        </div>
      </div>
    </div>
    <div class="col-md-6  text-end">
      <button class="btn-search btn btn-hover">Tìm kiếm</button>
    </div>
  </div>
  <div class="row">
    <ag-grid-angular
      style="width: 100%; height: 500px !important;"
      [rowData]="roles"
      class="ag-theme-alpine"
      [columnDefs]="columdef"
      [tooltipShowDelay]="0"
      (gridSizeChanged)="gridSizeChanged($event)"

      [overlayNoRowsTemplate]="noRowsTemplate"
    >

    </ag-grid-angular>
  </div>
</div>
